---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Work from '../components/Work.astro';
import Testimonials from '../components/Testimonials.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Alain Ossandon">
  <Navigation />
  <main>
    <Hero />
		<Work />
    <Services />
    <Testimonials />
    <CTA />
  </main>
  <Footer />
</Layout>
